{
	"extends": [
		"stylelint-config-standard-scss"
	],
	"plugins": [
		"stylelint-order"
	],
	"rules": {
		"selector-pseudo-class-no-unknown": null,
		"media-feature-range-notation": null,
		"font-family-no-missing-generic-family-keyword": null,
		"no-duplicate-selectors": null,
		"selector-class-pattern": null
	},
  "ignoreFiles": [
    "build/*"
  ]
}
