@import url('./../../../../styles/style.scss');

.inputContainer {
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 34px;
		padding: 5px 0;
		width: 100%;
		label {
			color: var(--bright-color);
			font-size: 14px;
			font-weight: 500;
			cursor: pointer;
		}
	}

	&__input {
		flex: 1 1 auto;
		font-size: 14px;
		color: var(--second-color);
		border: none;
		outline: none;
		text-align: right;
		background-color: none;
	}

	&__errorContainer {
		position: relative;
		border-top: 1px solid #EAEAEA;
	}

	&__errorBody {
		opacity: 0;
		visibility: hidden;
		color: var(--wrong-color);
		padding-top: 2px;
		font-size: 12px;
	}
}

.inputContainer:global(.invalid) .inputContainer__errorContainer{
	border-color: var(--wrong-color);
	input {
		color: var(--wrong-color);
	}
}

.inputContainer:global(.invalid) .inputContainer__errorBody {
	opacity: 1;
	visibility: visible;
}

.inputContainer:global(.invalid) .inputContainer__input{
	color: var(--wrong-color);
}
