@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html, body, #root{
   min-width: 100%;
   min-height: 100vh;
   font-family: "Roboto";
   font-size: 0.75rem;
   height: 100%;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

ul[class],
ol[class] {
   padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

body {
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
}

ul[class],
ol[class] {
   list-style: none;
}

input,
button,
textarea,
select {
   font: inherit;
}

:root {
   --primary-color: #3369F3;
   --wrong-color: #FF2F2F;
   --bright-color: #1E1E1E;
   --second-color: #999999;
   --dim-blue-background: #E4EDFD;
   --bright-gray-background: #EFEFEF;
   --dim-gray-background:#FBFBFB;
   --main-border-color: #EAEAEA;
}

a {
   text-decoration: none;
}

.ibg {
   position: relative;
   > img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
}