@import './../../../../styles/style';

.btn {
	display: flex;
	align-items: center;
	justify-content: start;
	min-height: 34px;
	padding: 5px 0;
	border-bottom: 1px solid #eaeaea;

	&__item {
		cursor: pointer;
		color: var(--primary-color);
		border: none;
		background-color: transparent;
		font-size: 14px;

		&_warning {
			color: var(--wrong-color);
		}
	}
}
