@import url('./style.module.scss');

.form {
	width: 100%;
	height: 100%;

	&__title {
		font-size: 20px;
		padding-bottom: 20px;
		text-align: center;
	}

	&__sigInButton {
		margin-top: 10px;
		margin-bottom: 5px;
	}
}

.passwordError {
	opacity: 0;
	visibility: hidden;
	color: var(--wrong-color from global);
	padding-top: 2px;
	font-size: 12px;
	opacity: 1;
	visibility: visible;
	display: block;
}

.hidden {
	opacity: 0;
	visibility: hidden;
	display: none;
}
