@import url('./../../../../styles/style.scss');

.btn {
	display: flex;
	justify-content: start;
	align-items: center;
	min-height: 34px;
	padding: 5px 0;

	border-bottom: 1px solid #EAEAEA;

	&__item {
		cursor: pointer;
		border: none;
		background-color: transparent;
		font-size: 14px;
		color: var(--primary-color);

		&_warning {
				color: var(--wrong-color);
		}
	}
}
