@import url('./../../styles/style.scss');

.pageContainer {
	width: 100%;
	min-height: 100%;
	display: flex;
}

.leftBar {
	transition: all 0.3s ease 0s;
	flex: 0 0 40px;
	width: 40px;
	background-color: var(--dim-gray-background);
	border-right: 1px solid var(--main-border-color);
	display: flex;
	align-items: center;
	justify-content: center;

	a {
		text-decoration: none;
		width: 28px;
		height: 28px;
		overflow: hidden;
		border-radius: 50%;
	}

	@media (min-width: 768px){
		flex: 0 0 64px;
		width: 64px;
	}
}

.profile, .profile > div {
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
	padding: 20px;
}
